* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif；;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
